repositories:
  - name: mscastro  
    url: {{ env "REPO_URL" | default "https://charts.mscastro.net" }}
    {{- if env "REPO_URL" contains "http://" }}
    plainHttp: true
    {{- endif }}

releases:
  - name: glauth
    namespace: auth
    createNamespace: true
    chart: mscastro/glauth
    wait: true

  - name: authelia
    namespace: auth
    createNamespace: true
    chart: mscastro/authelia
    needs: 
      - auth/glauth
