repositories:
  - name: mscastro  
    url: https://charts.mscastro.net

releases:
  - name: k8simgpuller-operator
    namespace: devspaces
    createNamespace: true
    chart: mscastro/k8simgpuller-operator

  - name: k8simgpuller
    namespace: devspaces
    createNamespace: true
    chart: mscastro/k8simgpuller
    needs: 
      - devspaces/k8simgpuller-operator

  - name: devspaces-operator
    namespace: devspaces
    createNamespace: true
    chart: mscastro/devspaces-operator
    wait: true

  - name: devspaces
    namespace: devspaces
    createNamespace: true
    chart: mscastro/checluster
    needs: 
      - devspaces/k8simgpuller
      - devspaces/devspaces-operator
