repositories:
  - name: mscastro  
    url: {{ env "REPO_URL" | default "https://charts.mscastro.net" }}
    {{- if env "REPO_URL" | contains "http://" }}
    plainHttp: true
    {{- end }}

releases:
  - name: k8simgpuller-operator
    namespace: devspaces
    createNamespace: true
    chart: mscastro/k8simgpuller-operator
    wait: true
    waitForJobs: true

  - name: k8simgpuller
    namespace: devspaces
    createNamespace: true
    chart: mscastro/k8simgpuller
    needs: 
      - devspaces/k8simgpuller-operator
    wait: true
    waitForJobs: true      